<div class='w-full mt-[6rem] flex justify-center items-center'>
  <p class='text-6xl'>Admin page</p>
</div>

<div class='w-full flex justify-center items-center mt-[2rem]'>
  <div class='flex flex-col w-[900px]'>
    <div class='-m-1.5 overflow-x-auto'>
      <div class='p-1.5 min-w-full inline-block align-middle'>
        <div class='overflow-hidden'>
          <table class='min-w-full divide-y divide-gray-200'>
            <thead>
              <tr>
                <th
                  scope='col'
                  class='px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase'
                >User</th>
                <th
                  scope='col'
                  class='px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase flex justify-center'
                >Role</th>
                <th
                  scope='col'
                  class='px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase text-end'
                >Edit</th>
              </tr>
            </thead>
            <tbody class='divide-y divide-gray-200'>
              {{{users}}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class='p-4 bg-[#242424] rounded-md shadow-md w-80 absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] hidden'
  id="modal"
>
  <input
    type='text'
    placeholder='Enter text'
    class='w-full p-2 mb-4 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500'
    id='modal-input'
  />
  <div class='flex justify-end space-x-2'>
    <button
      class='px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none'
      onclick="updateUser(currentUserId)"
    >
      Save
    </button>
    <button
      class='px-4 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400 focus:outline-none'
      onclick="cancel()"
    >
      Cancel
    </button>
  </div>
</div>
<script>
  const div = document.querySelector("#modal"); 
  const modalInput = document.querySelector("#modal-input"); 
  let currentUserId = 0;

  function edit(id, role) { 
    modalInput.value = `${role}`;
    currentUserId = id;
    div.classList.toggle("hidden");
  }; 

  async function updateUser(id) { 
    const req = await fetch(`http://localhost:5000/admin/edit/${id}`, { 
      headers: { "Content-Type": "application/json; charset=utf-8" }, 
      method: 'PUT', 
      body: JSON.stringify({ role: modalInput.value }) 
      }); 
      location.reload()
    };
  
  function cancel() {
    div.classList.toggle("hidden");
  };

  async function deleteUser(id) {
    const req = await fetch(`http://localhost:5000/admin/delete/${id}`, {
      method: 'DELETE',
    });
    location.reload();
  }
</script>