<div class='flex flex-col justify-center items-center w-[full] h-[100dvh]'>
  <p class='text-6xl'>Admin Login</p>

  <form action='/login' method='post' class='mt-[2rem] flex flex-col gap-8'>
    <div class='flex flex-col gap-3'>
      <div class='grid grid-cols-[100px_minmax(300px,_1fr)]'>
        <label for='user'>Username</label>
        <input type='text' name='user' />
      </div>
      <div class='grid grid-cols-[100px_minmax(300px,_1fr)]'>
        <label for='password'>Password</label>
        <input type='password' name='password' />
      </div>
    </div>

    <div class='flex'>
      <button
        type='submit'
        class='w-[40%] m-auto bg-[#595959] py-2 rounded-lg hover:bg-[#959595]'
      >Login</button>
      <a
        href='/register'
        class='w-[40%] m-auto bg-[#595959] py-2 rounded-lg hover:bg-[#959595]'
      >Register</a>
    </div>
  </form>
</div>