<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script src='https://cdn.tailwindcss.com'></script>
    <title>{{title}}</title>
  </head>
  <style>
    :root { font-family: Poppins, system-ui, Avenir, Helvetica, Arial,
    sans-serif; line-height: 1.5; font-weight: 400; color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87); background-color: #242424; --navbar-h:
    96px; --primary-text: #ffffffde } p { color: var(--primary-text); } input {
    color: black;}
  </style>

  <body>
    {{{body}}}
  </body>
</html>